body{
   margin: 10px 10px 50px 10px;
   font-size: 15px;
   float: left;
}

.pull-left{
    float: left;
}

.full-w{
    width: 100%;
}

h2{
    width: 100%;
    float: left;
}

.container-1{
    width: 750px;
    float: left;
    height: 400px;
    background-color: #25354c;
    text-align: center;
}

.container-1 .center{
    width: 200px;
    height: 200px;
    background-color: #ad4343;
    display: inline-block;
    font-size: 16px;
    color: white;
}

.container-2{
    width: 750px;
    float: left;
    height: 400px;
    background-color: #25354c;
}

.container-2 .center{
    width: 300px;
    height: 150px;
    background-color: #ccc;
    margin: 10px auto;
}

.container-3{
    width: 750px;
    float: left;
    height: 400px;
    background-color: #ad4343;
    position: relative;
}

.container-3 .center{
    width: 300px;
    height: 150px;
    background-color: #ccc;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-4{
    width: 750px;
    float: left;
    height: 400px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-4 .center{
    width: 300px;
    height: 150px;
    background-color: white;
}

.container-5{
    width: 750px;
    float: left;
    height: 400px;
    background-color: blue;
}

.container-5 .center{
    width: 300px;
    height: 150px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.container-6{
    width: 750px;
    height: 400px;
    background-color: cadetblue;
    display: table-cell;
    vertical-align: middle;
}

.container-6 .center{
    width: 300px;
    color: white;
    height: 150px;
    background-color: red;
    margin: auto;
}